.InfoWrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

@media screen and (max-width:767px) {
    .InfoWrapper {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.CommentLink {
    cursor: pointer;
    color: var(--main-accent);
}

.CommentLink:hover {
    color: var(--secondary-accent);
}

.CommentDivider {
    margin: 1.25rem;
    background-color: var(--main-accent);
}