.InfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.InfoWrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.InfoWrapper p {
    max-width: 25%;
}

.InfoGridRow {
    display: grid;
    grid-template-columns: 1fr 480px;
    align-items: stretch;
    align-content: space-around;
}

.InfoTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 1.25rem;
}


.InfoText {
    font-weight: 400;
    padding: 0.5rem 0;
    color: var(--text);
}

.ActionLink {
    cursor: pointer;
}

.SpecText,
.ActionLink:hover {
    color: var(--main-accent);
}

.AccentDivider {
    margin: 1.25rem;
    background-color: var(--main-accent);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    border: none;
}

progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, var(--secondary-accent), var(--main-accent));
}

progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, var(--secondary-accent), var(--main-accent));
}

@media screen and (max-width:767px) {
    .InfoWrapper {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .InfoGridRow {
        grid-template-columns: 1fr;
        align-items: start;
        justify-content: center;
    }
}

@media screen and (max-width:999px) {
    .InfoContainer {
        grid-template-columns: 1fr;
    }
}