 .Button,
 .Button:focus,
 .Button:active,
 .Button:not(:disabled),
 .focus {
    width: 300px;
    background-color: #d9176b;
    outline: none !important;
    border: none !important;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0.65rem;
    color: white;
 }

 .Button:hover {
    background-color: #00e6d6;
 }