:root {
  --text: #fafafa;
  --bg: #222;
  --mid: #D9D9D9;
  --main-accent: #D9176B;
  --secondary-accent: #00E6D6;
  --tertiary-accent: #11DF6A;
  --rgb-static: linear-gradient(180deg, rgba(217,23,107,1) 0%, rgba(186,61,217,1) 25%, rgba(125,162,217,1) 50%, rgba(20,227,165,1) 75%, rgba(58,220,74,1) 100%);
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 500;
}

h3, p  {
  font-weight: 300;
}

p, text, input, select, textarea, label {
  font-weight: 200;
}