:root {
  --text: #fafafa;
  --bg: #222;
  --mid: #D9D9D9;
  --main-accent: #D9176B;
  --secondary-accent: #00E6D6;
  --tertiary-accent: #11DF6A;
  
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 500;
}

h3, p  {
  font-weight: 300;
}

p, text, input, select, textarea, label {
  font-weight: 200;
}

/* Bootstrap Overrides & Additions */

.nav-link__text:hover {
color: var(--main-accent);
}

.navbar-light .navbar-toggler-icon  {
  filter: invert(1);
}

.navbar-toggler {
  border: none;
}