:root {
  --text: #fafafa;
  --bg: #222;
  --mid: #D9D9D9;
  --main-accent: #D9176B;
  --secondary-accent: #00E6D6;
  --tertiary-accent: #11DF6A;
  
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--bg);
}

.Main {
  margin-top: 10rem;
  min-height: 25rem;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h3, p  {
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
}

p, text, input, select, textarea, label, ul, li {
  font-weight: 200;
  font-size: 1.4rem;
  text-transform: uppercase;
}

ul, li {
  list-style: none;
}
.preview-image {
  max-width: 100%;
}
  /* Bootstrap Overrides & Additions */
